@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap");
:root {
  --font-family-1: "Source Sans 3", sans-serif;

  --font-size-small: 1.2rem;
  --font-size-small2: 1.1rem;
  --font-size-medium: 1.5rem;
  --font-size-medium2: 2rem;
  --font-size-big: 3rem;
}
